<!-- header
   ================================================== -->
<header id="main-header">

    <div class="row">

        <div class="logo">
            <a href="index.html">Deluxe</a>
        </div>

        <nav id="nav-wrap">         

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
                <span class="menu-icon">Menu</span>
            </a>
            <a class="mobile-btn" href="#" title="Hide navigation">
                <span class="menu-icon">Menu</span>
            </a>            

            <ul id="nav" class="nav" ng-controller="HeaderController">
                <li><a ng-click="gotoElement('home-howitworks')">¿CÓMO FUNCIONA?</a></li>
                <li><a ng-click="gotoElement('home-services')">SERVICIOS</a></li>
                <li><a ng-click="gotoElement('home-styles')">ESTILOS</a></li>
                <li><a ng-click="gotoElement('home-pricing')">PRECIOS</a></li>
                <li><a ng-click="gotoElement('home-contact')">CONTACTO</a></li>
                <li><a id="be__deluxe" ng-click="gotoElement('home-contact')">BE DELUXE</a></li>
            </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->

    </div>

</header> <!-- end header -->
