<section id="intro">
    <div class="row section-head">
        <div class="twelve columns">
            <h1>Nuestra empresa.</h1>
            <p>Somos una empresa mexicana dedicada a resolver los problemas le las empresas de tecnología en México. Nos enfocamos a la identificación del talento en nuestro país a través del posicionamiento como líderes de comunidad.</p>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h1>Misión</h1>
                    <p>Ser líderes en los procesos de innovación que conjuntan diseño, desarrollo de soluciones y modelos de negocio para optimizar el rendimiento de nuestros clientes.</p>
                </div>
                <div class="col-md-4">
                    <h1>Visión</h1>
                    <p>Ser  reconocida como la organización que más contribuye a la integración y al fortalecimiento del sector de las tecnologías de información convirtiéndonos en el eslabón que conecte a las empresas con las prácticas del futuro.</p>
                </div>
                <div class="col-md-4">
                    <h1>Valores</h1>
                    <p>Pasión, Confianza, Honestidad, Transparencia, Integridad, Innovación, Calidad</p>
                    <!--
                    <ul>
                        <li>Pasión</li>
                        <li>Confianza</li>
                        <li>Honestidad</li>
                        <li>Transparencia</li>
                        <li>Integridad</li>
                        <li>Innovación</li>
                        <li>Calidad</li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>

    <div style="width: 8%;
                border-bottom: 3px solid;
                border-color: #283436;
                margin-right: auto;
                margin-top: 50px;
                margin-left: auto;">
    </div>

</section>
