<!-- Services Section
    ================================================== -->
<section id="services">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>Nuestros clientes<span>.</span></h1>

            <hr />      	         

            <p>Hemos tenido el privilegio de trabajar con entidades de muy alto impacto en México, y no nos tomamos ese honor a la ligera.</p>
            <p>Siempre tratamos a nuestros clientes como socios, y trabajamos en colaboración con ellos para alcanzar objetivos claros y medibles.</p>

        </div>

    </div> <!-- end section-head -->

    <div class="row mobile-no-padding">      	

        <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

            <div class="bgrid">	               


                <div class="service-content" style="text-align:center;">	                  
                    <img src="images/clients/se.png" class="img-responsive" style="margin-right:auto;margin-left:auto"> 
                    <p>Secretaría de Economía</p>
                </div>  

            </div> <!-- end bgrid -->

            <div class="bgrid">	              


                <div class="service-content" style="text-align:center;">	                  
                    <img src="images/clients/cfe.png" class="img-responsive" style="margin-right:auto;margin-left:auto"> 
                    <p>Comisión Federal de Electricidad</p>
                </div>	              

            </div> <!-- end bgrid -->

            <div class="bgrid">	              


                <div class="service-content" style="text-align:center;">		                  
                    <img src="images/clients/pemex.png" class="img-responsive"> 
                    <p>Pemex</p>
                </div> 	               

            </div> <!-- end bgrid -->

            <div class="bgrid">	              


                <div class="service-content" style="text-align:center;">	                  
                    <img src="images/clients/sct.png" class="img-responsive"> 
                    <p>Secretaría de Comunicaciones y Transportes</p>
                </div>                

            </div> <!-- end bgrid -->

            <div class="bgrid">


                <div class="service-content" style="text-align:center;">	                  
                    <img src="images/clients/nestle.png" class="img-responsive"> 
                    <p>Nestlé</p>
                </div>	               

            </div> <!-- end bgrid -->

            <div class="bgrid">	               


                <div class="service-content" style="text-align:center;">
                    <img src="images/clients/unesco.svg" width="50%" class="img-responsive" style="margin-right:auto;margin-left:auto"> 
                    <p>UNESCO</p>
                </div>	               

            </div> <!-- end bgrid -->

        </div> <!-- end service-list -->	      

    </div> <!-- end row -->      
    <div style="
        width: 8%;
        border-bottom: 3px solid;
        border-color: #283436;
        margin-right: auto;
        margin-top: 50px;
        margin-left: auto;">
    </div>

</section> <!-- end services -->
