<!-- homepage hero
   ================================================== -->
<section id="home-hero">

    <div class="hero-unit">
      <h1>Beauty on<br>demand</h1>
        <!--
      <input class="apple" type="image" src="/images/app_store.png"/>
      <input class="google" type="image" src="/images/google_play.png"/>
      <img src="/images/iphone_deluxe.png" class="img-responsive">
      -->
    </div>

</section> <!-- end homepage hero -->

<!-- first sliding black bar
   ==================================================
<section id="home-howitworks" class="gallery-home sectionblack"> -->
  <!--
    <div class="container title">
        <p>DESCARGA LA APP</p>
    </div>
</section>
-->

<!-- homepage how-it-works
   ================================================== -->
<section id="home-intro">

    <div class="intro-unit module parallax parallax-2">
        <h1>Descarga la app</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 howitworks__column">
                <img src="/images/iphone_info.png" alt="" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 howitworks__column">
                <img src="/images/iphone_right.png" id="iphone" alt="" />
            </div>
        </div>
    </div>

</section> <!-- end homepage how-it-works -->

<!-- second sliding black bar
   ==================================================
<section id="home-services" class="gallery-home sectionblack"> -->
  <!--
    <div class="container title">
        <p>SERVICIOS</p>
    </div>
</section>--> <!-- second sliding black bar -->

<!-- homepage services
   ================================================== -->
<section id="services">
  <div class="row">
        <div class="col-md-6 col-xs-12">
              <div class="row">
                  <div class="col-xs-3" id="cs-haircuts">
                      <div class="staff-photo">
                          <img src="/images/deluxe_web-06.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            CORTES
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-3" id="cs-hairstyles">
                      <div class="staff-photo">
                          <img src="/images/deluxe_web-05.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            PEINADOS
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class="staff-photo" id="cs-hair-treatments">
                          <img src="/images/deluxe_web-10.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            TRATAMIENTOS
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class="staff-photo" id="cs-makeups">
                          <img src="/images/deluxe_web-09.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            MAQUILLAJE
                          </div>
                      </div>
                  </div>
            </div>
      </div> 
      <div class="col-md-6 col-xs-12">
              <div class="row">
                  <div class="col-xs-3">
                      <div class="staff-photo" id="cs-manicures">
                          <img src="/images/deluxe_web-08.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            BARBERIA
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class="staff-photo" id="cs-pedicures">
                          <img src="/images/deluxe_web-07.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            MANICURE
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class="staff-photo" id="cs-beards">
                          <img src="/images/deluxe_web-06.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            PEDICURE
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class="staff-photo" id="cs-kids">
                          <img src="/images/deluxe_web-05.png">
                      </div>

                      <div class="staff-name">
                          <div class="staff-first-name">
                            KIDS
                          </div>
                      </div>
                  </div>
            </div>
      </div>
  </div>
</section> <!-- end homepage services -->

<!-- homepage carousel
   ================================================== -->
<section id="home-carousel">

        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item"><img class="item-img" src="/images/cs-haircuts-1.png"></div>
                <div class="item"><img class="item-img" src="/images/cs-beards-1.png"></div>
                <div class="item"><img class="item-img" src="/images/cs-hair-treatments-1.png"></div>
                <div class="item"><img class="item-img" src="/images/cs-hairstyles-1.png"></div>
                <div class="item"><img class="item-img" src="/images/cs-makeups-1.png"></div>
            </div>
            <div class="customNavigation gallery-control-wrapper">
              <a class="btn btn-wlb prevOwl gallery-control left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <a class="btn btn-wlb nextOwl gallery-control right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        </div>

</section>

<!-- homepage appointments
   ================================================== -->
<section id="home-appointments">
  <div class="row">
        <div class="col-md-5 col-xs-12 appointments__text__left">
          <h2>Agenda tu cita</h2>
          <p>En la ubicación de tu preferencia. Dentro de la Ciudad de México y zona metropolitana.</p>
          <p>Vamos a tu casa, oficina, hotel, o cualquier lugar que sea de tu comodidad.</p>
        </div>
        <div class="col-md-2 col-xs-12 appointments__text__middle">
          <h1>CITAS</h1>
        </div>
        <div class="col-md-5 col-xs-12 appointments__text__right">
          <h2>Vive la experiencia DELUXE</h2>
          <p>Nuestros servicios profesionales ofrecen una experiencia única de lujo y comodidad</p>
          <p>¡Déjanos sorprenderte!</p>
          <p>Garantía de profesionalismo y confiabilidad.</p>
        </div>
  </div>
</section> <!-- end homepage how-it-works -->

<!-- homepage how-it-works
   ================================================== -->
<section id="home-pricing">
     <div class="container">
        <h1>PRECIOS</h1><br>
        <div class="row">
              <div class="col-md-4 col-xs-12">
                <img src='/images/pricing_hair.png'>
              </div>
              <div class="col-md-4 col-xs-12">
                <img src='/images/pricing_makeup_beard.png'>
              </div>
              <div class="col-md-4 col-xs-12">
                <img src='/images/pricing_nails.png'>
              </div>
        </div>
    </div>
</section> <!-- end homepage how-it-works -->

<!-- fourth sliding black bar
   ================================================== -->
<section id="home-contact" class="gallery-home sectionblack">
    <div class="container title">
        <p>CONTACTO</p>
    </div>
</section>

<!-- contact form
   ================================================== -->
<section id="contact-form">

    <div class="contact-unit">
        <div class="row">
            <div class="bottom-align-text col-lg-6 col-md-6 col-sm-6">
              <h1><a href='https://docs.google.com/forms/d/e/1FAIpQLSd5pwMKoEMX8ek5Lzt2vUFcaZen0de03s3fc0WI42PvqmXd-g/viewform'>BOLSA DE TRABAJO</a></h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                  <form action="#">
                  <input type="text" name="Nombre" placeholder="Nombre"><br>
                  <br>
                  <input type="text" name="Email" placeholder="Email"><br>
                  <br>
                  <textarea cols="50" rows ="10" name="Mensaje" value="Mensaje" placeholder="Mensaje"></textarea><br>
                  <br>
                  <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>

</section> <!-- end homepage contact form -->

<!-- job openings link mobile
   ================================================== -->
<section id="job-openings">

    <div class="openings-unit">
      <h1><a href='https://docs.google.com/forms/d/e/1FAIpQLSd5pwMKoEMX8ek5Lzt2vUFcaZen0de03s3fc0WI42PvqmXd-g/viewform'>BOLSA DE TRABAJO</a></h1>
    </div>

</section> <!-- end mobile job openings -->
