<!-- portfolio
   ================================================== -->
<section id="portfolio">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>Nuestros proyectos<span>.</span></h1>

            <hr />               

            <p>Realizamos Hackatones, Meetups y Workshops con el fin de difundir y posicionar los servicios de desarrollo y consultoría que ofrecemos.</p>
            <p>A través de estos eventos buscamos generar un espacio de colaboración y sinergia entre las empresas pertenecientes a la industria de TI y las comunidades de hackers, programadores, diseñadores y jóvenes tecnólogos mexicanos, canalizar sus esfuerzos y concretar proyectos.</p>
            <p>Entre ambos mundos comenzará a existir un proceso de retroalimentación sumamente beneficial con un fin común de mejorar el quehacer tecnológico del país.
            </p>

        </div>

    </div> <!-- end section-head -->

    <div class="row items">

        <!-- portfolio-wrapper -->
        <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-01">
                        <img src="images/portfolio/nuevo-ingenio-mexicano-final.jpg" alt="Nuevo Ingenio">
                        <div class="overlay"></div>                       
                        <div class="portfolio-item-meta">
                            <h5>El Nuevo Ingenio Mexicano</h5>
                            <p>En colaboración con Fab Lab Impact</p>
                        </div> 
                        <div class="link-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </div> <!-- item end -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-02">
                        <img src="images/portfolio/makeaton-final.jpg" alt="Póster Makeatón">
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>Primer Makeatón</h5>
                                <p>4 y 5 de junio</p>
                            </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </div> <!-- item end -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-03">
                        <img src="images/portfolio/creaton-final.jpg" alt="Póster Creatón">                        
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>Primer Creatón</h5>
                                <p>6 y 7 de agosto</p>
                            </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </div> <!-- item end -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-04">
                        <img src="images/portfolio/hackaton-final.jpg" alt="Primer Hackatón">
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>Primer Hackatón</h5>
                                <p>2 y 3 de julio</p>
                            </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </div> <!-- item end -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-05">
                        <img src="images/portfolio/innovation-ws-small-final.jpg" alt="Póster Workshop">
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>Innovation Workshop</h5>
                                <p>1 al 5 de agosto</p>
                            </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </div> <!-- item end -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-06">
                        <img src="images/portfolio/diseneriaNew.gif" alt="Póster La Diseñería">
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>La Diseñería</h5>
                                <p>Cada mes</p>
                            </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </div> <!-- item end -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-07">                        
                        <img src="images/portfolio/FuturologiNew.gif" alt="Póster Futurologi">                       
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>Futurologi</h5>
                                <p>Cada mes</p>
                            </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </div> <!-- item end -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <a href="#modal-08">
                        <img src="images/portfolio/cdmxtechmeetup.gif" alt="Póster CDMXTechMeetup">
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>CDMX Tech Meetup</h5>
                                <p>Cada mes</p>
                            </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus"></i></div>                     
                    </a>
                </div>
            </div>  <!-- item end -->

        </div> <!-- end portfolio-wrapper -->
        <br>


        <!-- modal popup
        ========================================================= -->
        <div id="modal-01" class="popup-modal mfp-hide">

            <div class="media">
                <img src="images/portfolio/nuevo-ingenio-mexicano-final.jpg"/>
            </div>

            <div class="description-box">
                <h4>El Nuevo Ingenio Mexicano</h4>
                <p>Reviviremos y revolucionaremos el concepto del Nuevo Ingenio Mexicano a través de una ruta de eventos clave y una serie de Meetups mensuales.</p>
                <span class="categories">En colaboración con Fab Lab Impact</span>
            </div>

            <div class="link-box group">
                <a href="http://steed.mx/events">Más información</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>         
            </div>

        </div><!-- modal-01 end -->

        <div id="modal-02" class="popup-modal mfp-hide">

            <div class="media">
                <img src="images/portfolio/makeaton-final.jpg" alt="Hotel Sign" />
            </div>

            <div class="description-box">
                <h4>Primer Makeatón</h4>
                <p>Un espacio de tres días para que los mejores Makers de la CDMX compitan por demostrar quién tiene el mayor ingenio para resolver un problema urbano. Crearán propuestas a partir de la combinación entre electrónica, programación y desarrollo de prototipos.</p>
                <span class="categories">4 y 5 de junio</span>
            </div>

            <div class="link-box">            	
                <a href="http://steed.mx/makeaton">Más información</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>

        </div><!-- modal-02 end -->

        <div id="modal-03" class="popup-modal mfp-hide">

            <div class="media">
                <img src="images/portfolio/creaton-final.jpg" alt="" />
            </div>

            <div class="description-box">
                <h4>Primer Creatón</h4>
                <p>Este creatón buscará la intersección entre el diseño, arte y tecnología. En equipos multidisciplinarios, deberán generar propuestas audiovisuales e interactivas mismas que serán expuestas al público general al finalizar el periodo de creación.</p>
                <span class="categories">6 y 7 de agosto</span>
            </div>

            <div class="link-box">
                <a href="http://steed.mx/creaton">Más información</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>

        </div><!-- modal-03 end -->

        <div id="modal-04" class="popup-modal mfp-hide">

            <div class="media">
                <img src="images/portfolio/hackaton-final.jpg" alt="" />
            </div>

            <div class="description-box">
                <h4>Primer Hackatón</h4>
                <p>Para este hackatón se convocarán a los mejores programadores de la CDMX para que en 48 horas generen un proyecto de alto impacto tecnológico. Sea una app o una nueva plataforma web, deberán ingeniárselas para desarrollar un proyecto funcional y en paralelo buscar a sus primeros usuarios o clientes.</p>
                <span class="categories">2 y 3 de julio</span>
            </div>

            <div class="link-box">
                <a href="http://steed.mx/hackaton">Más información</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>

        </div><!-- modal-04 end -->

        <div id="modal-05" class="popup-modal slider mfp-hide">	

            <div class="media">
                <img src="images/portfolio/innovation-ws-small-final.jpg" alt="" />
            </div>      	

            <div class="description-box">
                <h4>Innovation Workshop</h4>		      

                <p>Workshop intensivo de 5 días donde se darán 6 módulos para aprender todo lo esencial sobre el desarrollo de proyectos de alto impacto.</p>

                <div class="categories">Web Development</div>

            </div>

            <div class="link-box">
                <a href="http://steed.mx">Más información</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>		      

        </div><!-- modal-05 end -->

        <div id="modal-06" class="popup-modal mfp-hide">

            <div class="media">
                <img src="images/portfolio/diseneriaNew.gif" alt="" />
            </div>	

            <div class="description-box">
                <h4>La Diseñería</h4>			      

                <p>Este Meetup busca generar un espacio de exposición y aprendizaje para diseñadores y creadores de diferentes disciplinas. A través de un proceso de curaduría, se elegirán speakers con experiencia en diversos temas de diseño para pláticas breves y sesiones de preguntas y respuestas.</p>

                <div class="categories">Meetup Mensual</div>

            </div>

            <div class="link-box">
                <a href="http://steed.mx/ladiseneria">Registro</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>

        </div><!-- modal-06 end -->

        <div id="modal-07" class="popup-modal mfp-hide">

            <div class="media">
                <img src="images/portfolio/FuturologiNew.gif" alt="" />
            </div>	

            <div class="description-box">
                <h4>Futurologi</h4>			      

                <p>Cada edición se escogerá a 3 speakers para compartir conocimientos de las tendencias tecnológicas, culturales, económicas y sociales que darán forma al estilo de vida de los habitantes del futuro. La idea es propiciar un ambiente multidisciplinario que permita comenzar conversaciones acerca del quehacer humano.</p>

                <div class="categories">Meetup Mensual</div>

            </div>

            <div class="link-box">
                <a href="http://steed.mx/futurologi">Registro</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>

        </div><!-- modal-07 end -->

        <div id="modal-08" class="popup-modal mfp-hide">

            <div class="media">
                <img src="images/portfolio/cdmxtechmeetup.gif" alt="" />
            </div>	

            <div class="description-box">
                <h4>CDMX Tech Meetup</h4>			      

                <p>Evento para presentar demos y exposiciones breves de proyectos tecnológicos. En cada edición habrá 3 demos en vivo de 5 minutos cada uno, así como dos pláticas de temas de desarrollo tecnológico como nuevos Frameworks o paradigmas de programación.
                </p>

                <div class="categories">Meetup Mensual</div>

            </div>

            <div class="link-box">
                <a href="http://steed.mx/techmeetup">Registro</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>

        </div><!-- modal-08 end -->

    </div>  <!-- end row -->

</section> <!-- end portfolio -->
